<h1>Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

%= link_to '<i class="material-icons left">remove_red_eye</i> Show'.html_safe, @recipe, :class => 'waves-effect waves-light btn-flat' %>
<%= link_to '<i class="material-icons left">arrow_back</i> Back'.html_safe, recipe_path, :class => 'waves-effect waves-light btn-flat' %>
